$NavColor : #3F51B6;
$Primarybackground :#F3F3F3;
$color : #BEBEBE;

.navbar {
    background-color:$NavColor;
    color:#FFF;
    height:50px;
    box-shadow:1px 1px 2px #CCC;
    a{
        color:#FFF;
        &:hover {
            text-decoration: none;
        }
    }
    .notification {
        display:flex;
        align-items: center;
        margin:0 20px !important;
        &:hover {
            cursor: pointer;
            color:#EEE;
        }
    }
    .notification-menu {
        border-radius: 3px;
        left: -100px;
        width: 200px;
        padding: 5px 10px;
        .notification-item {
            color:#000;
        }
        
        #notif {
            position: relative;
            div {
                position: absolute;
                top:-6px;
                right:-3px;
                font-size:11px;
                background-color:#E00;
                padding:2px;
                height:8px;
                width:8px;
                text-align: center;
                border-radius: 50%;
            }
        }
    }
    
}
